* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes navbar {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar {
  animation: navbar 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.01);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgba(5, 71, 125, 0.5);
  backdrop-filter: blur(10px);
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-left {
  padding-left: 150px;
}

.nav-left img {
  max-width: 100px;
  width: auto;
  height: auto;
}

.nav-right ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-right: 20px;
}

.nav-right ul li a {
  margin-right: 100px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}

.nav-right .kontak {
  margin: 0 200px;
  padding: 1rem;
  border-radius: 100px;
  text-decoration: none;
  background-color: #0070c9;
  color: #ffffff;
  font-size: 1em;
}

.nav-right a:hover {
  color: #0070c9;
}

.nav-right .kontak:hover {
  border: 2px solid #0070c9;
  background-color: transparent;
  color: #0070c9;
  font-weight: bold;
}

.nav-right ul li a.active {
  color: #0070c9;
  border-bottom: 2px solid #0070c9;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.close-btn {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

#content-1 {
  background-attachment: fixed;
  position: relative;
  height: 90vh;
  background-size: cover;
  background-image: url("../img/foto1.jpg");
  overflow: hidden;
}

#content-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to top right,
      rgba(82, 87, 134, 0.3),
      rgba(255, 255, 0, 0)
    ),
    linear-gradient(to bottom left, rgba(17, 0, 255, 0.3), rgba(255, 255, 0, 0));
  z-index: 1;
}
.container-1 {
  position: absolute;
  margin: 0;
  width: 100%;
  top: 40%;
  text-align: center;
  color: white;
  transform: scale(0.8);
  z-index: 2;
}

.container-1 h3 {
  font-size: 2em;
}

.container-1 h1 {
  font-size: 8em;
}

.container-1 h1 span {
  color: #0070c9;
}

#content-2 {
  background-color: #e5eef5;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 300px 100px;
  align-items: center;
}

.container-2 {
  padding-right: 300px;
  animation: slide-left 1s ease-out;
}

.container-2 h1 {
  font-size: 2em;
  margin-bottom: 15px;
}

.container-2 p {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.image-content-2 img {
  width: 300px;
  height: auto;
}

.container-3 {
  text-align: center;
  padding: 10px 20px 50px;
  background-color: #e5eef5;
  font-size: 1.3em;
  border-top: 1px solid #ffffff;
}

.container-3 h2 span {
  color: #0070c9;
  font-weight: bold;
}

.container-4 {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 250px;
  align-items: center;
}

.step-item {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  height: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-img {
  padding-right: 30px;
}

.step-item h2 {
  font-size: 1.7em;
  padding-bottom: 30px;
}

.step-item p {
  color: #666;
  line-height: 1.5;
  font-size: 1.2em;
}

.content-left h2 {
  color: #000000;
  font-size: 2em;
  margin-bottom: 50px;
  padding-bottom: 100px;
  text-align: left;
}

.content-left img {
  max-width: 400px;
  height: auto;
  mix-blend-mode: multiply;
}

.container-5 {
  background-color: #05477d;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

.container-5 .section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 0 20px;
}

.container-5 .section-title span {
  font-weight: bold;
  color: #00bfff;
}

.container-5 .section-subtitle {
  font-size: 1.3em;
  padding-bottom: 50px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}

.feature-grid .satu,
.feature-grid .tiga {
  margin-right: 100px;
}

.feature-grid .dua,
.feature-grid .empat {
  margin-left: 100px;
}

.feature-item {
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
}

.feature-item img {
  max-width: 100%;
  height: auto;
  padding-bottom: 30px;
}

.feature-item p {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  padding-bottom: 100px;
}

.feature-item strong {
  color: #0070c9;
}

.container-6 {
  background-color: #e5eef5;
}

.content-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.content-6 h1 {
  font-size: 2em;
  padding-bottom: 50px;
  text-align: center;
}

.content-6 iframe {
  height: 500px;
  width: 1500px;
}

footer {
  background-color: #05477d;
}

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  gap: 10px;
}

.content-top1 {
  color: #fff;
}

.content-top1 img {
  width: 300px;
  height: auto;
  padding-bottom: 20px;
}

.content-top1 p {
  font-size: 1.2em;
}

.content-top2 {
  color: #fff;
}

.content-top2 h1 {
  padding-bottom: 30px;
  font-size: 2.5em;
}

.content-top2 p {
  font-size: 1.2em;
  line-height: 50px;
  padding-bottom: 10px;
}

.content-top2 p strong {
  padding-bottom: 20px;
}

.content-top2 a {
  background-color: #ffffff;
  color: #0070c9;
  text-decoration: none;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
}

.content-top2 a:hover {
  background-color: #05477d;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.content-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  gap: 30px;
  color: #fff;
}

.content-mid1 {
  padding-left: 100px;
}

.content-mid1 h1 {
  padding-bottom: 50px;
  font-size: 2.5em;
}

.content-mid1 p {
  font-size: 1.2em;
}

.content-mid2 {
  padding-right: 200px;
}

.content-mid2 span {
  padding-right: 100px;
}

.content-mid2 a {
  cursor: pointer;
}

.content-mid2 img {
  width: 200px;
  height: auto;
  margin-right: 250px;
  filter: invert(1);
}

.content-bottom {
  padding: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

@media (max-width: 1280px) {
  .nav-left {
    padding-left: 30px;
  }
  .nav-right ul li a {
    margin-right: 100px;
  }
  .nav-right .kontak {
    margin: 0 50px;
  }

  #content-2 {
    padding: 80px 50px;
  }
  .container-2 {
    padding-right: 10px;
    margin-right: 0px;
  }

  .container-4 {
    padding: 50px;
    text-align: center;
  }

  .content-6 iframe {
    width: 100%;
    height: 400px;
  }

  .content-6 iframe {
    width: 100%;
    height: 400px;
  }

  .content-top {
    gap: 50px;
    padding: 50px;
  }

  .content-middle {
    gap: 50px;
  }

  .content-mid2 {
    padding-right: 0px;
  }
}

@media (max-width: 1024px) {
  /* Navbar */
  .nav-left {
    padding-left: 30px;
  }
  .nav-right ul li a {
    margin-right: 10px;
  }
  .nav-right .kontak {
    margin: 0 20px;
  }

  /* Content 1 */
  #content-1 {
    height: 70vh;
  }
  .container-1 h1 {
    font-size: 5em;
  }

  /* Content 2 */
  #content-2 {
    padding: 80px 50px;
  }
  .container-2 {
    padding-right: 10px;
  }

  /* Content 4 */
  .container-4 {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-left h2 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 50px;
    text-align: left;
  }

  .content-left img {
    max-width: 300px;
    height: auto;
    mix-blend-mode: multiply;
    padding-bottom: 10px;
  }

  /* content 5 */
  .feature-grid .satu,
  .feature-grid .tiga {
    margin-right: 0;
  }

  .feature-grid .dua,
  .feature-grid .empat {
    margin-left: 0;
  }

  /* Content 6 */
  .content-6 iframe {
    width: 100%;
    height: 400px;
  }

  /* Footer */
  .content-top1 img {
    width: 200px;
    height: auto;
    padding-bottom: 20px;
  }

  .content-top1 p {
    font-size: 1em;
    padding-right: 100px;
  }

  .content-top2 h1 {
    padding-bottom: 10px;
    font-size: 2em;
  }

  .content-top2 p {
    font-size: 1em;
    line-height: 30px;
    padding-bottom: 10px;
  }

  .content-mid1 {
    padding-left: 50px;
  }

  .content-mid1 h1 {
    padding-bottom: 50px;
    font-size: 2.5em;
  }

  .content-mid1 p {
    font-size: 1.2em;
  }

  .content-mid2 {
    padding-right: 100px;
  }

  .content-mid2 span {
    padding-right: 100px;
  }

  .content-mid2 a {
    cursor: pointer;
  }

  .content-mid2 img {
    width: 150px;
    height: auto;
    margin-right: 0px;
    filter: invert(1);
  }

  .content-top,
  .content-middle {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  /* Navbar */
  #navbar {
    padding: 25px 10px;
  }
  .nav-left {
    padding-left: 20px;
  }
  .nav-right ul {
    gap: 15px;
  }
  .nav-right ul li a {
    margin-right: 50px;
    font-size: 1em;
  }
  .nav-right .kontak {
    margin: 0 20px;
    padding: 0.5rem;
  }

  .nav-right .kontak:hover {
    border: 1px solid #0070c9;
    background-color: transparent;
    color: #0070c9;
    font-weight: lighter;
  }

  /* Content 1 */
  #content-1 {
    height: 60vh;
  }
  .container-1 h1 {
    font-size: 4em;
  }
  .container-1 h3 {
    font-size: 1.5em;
  }

  /* Content 2 */
  #content-2 {
    flex-direction: column;
    padding: 50px 20px;
  }
  .container-2 {
    padding-right: 0;
    text-align: center;
  }
  .image-content-2 img {
    width: 200px;
  }

  /* Content 4 */
  .container-4 {
    flex-direction: column;
    padding: 50px 20px;
  }
  .step-item {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .step-img {
    padding-right: 0;
    padding-bottom: 20px;
  }

  /* Content 6 */
  .content-6 iframe {
    height: 300px;
  }

  /* Footer */
  .content-top,
  .content-middle {
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
  }

  .content-top {
    gap: 50px;
  }

  .content-top1 p {
    font-size: 1em;
    padding-right: 0px;
  }

  .content-mid1 {
    padding-left: 0;
  }
  .content-mid2 {
    padding-right: 0;
  }
  .content-mid2 img {
    margin-right: 0;
    width: 150px;
  }
}

@media (max-width: 480px) {
  /* Navbar */
  #navbar {
    padding: 10px;
  }

  nav {
    display: none;
  }
  .nav-left {
    padding-left: 10px;
  }
  .nav-left img {
    width: 60px;
    padding-left: 20px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 1.4em;
    padding-right: 30px;
  }

  .sidebar .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .close-btn.active {
    right: 0;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .sidebar.active {
    right: 0;
  }

  /* Content 1 */
  #content-1 {
    height: 60vh;
  }
  .container-1 h1 {
    font-size: 2em;
  }
  .container-1 h3 {
    font-size: 1em;
  }

  /* Content 2 */
  #content-2 {
    padding: 30px 20px;
  }
  .container-2 {
    padding-right: 0;
    text-align: center;
  }

  .container-2 h1 {
    font-size: 1.7em;
  }

  .container-2 p {
    font-size: 1em;
  }

  .image-content-2 img {
    width: 150px;
  }

  .container-3 h2 {
    font-size: 1.2em;
    padding-bottom: 10px;
  }

  .container-3 p {
    font-size: 0.8em;
  }

  /* Content 4 */
  .container-4 {
    flex-direction: column;
    padding: 30px 20px;
  }
  .step-item {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .step-item h2 {
    font-size: 1.3em;
    padding-bottom: 10px;
  }

  .step-item p {
    font-size: 1em;
  }

  .step-img {
    padding-right: 0;
    padding-bottom: 15px;
  }

  .step-img img {
    width: 80px;
  }

  .content-left h2 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 0;
  }

  .content-left img {
    width: 200px;
  }

  /* content 5 */
  .container-5 {
    background-color: #05477d;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .container-5 .section-title {
    font-size: 1.2em;
  }

  .container-5 .section-subtitle {
    font-size: 1em;
    padding-bottom: 20px;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 0;
  }

  .feature-item img {
    width: 100px;
    height: auto;
    padding-bottom: 30px;
  }

  .feature-item p {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    padding-bottom: 100px;
  }

  /* Content 6 */
  .content-6 {
    padding: 20px;
  }

  .content-6 h1 {
    font-size: 1em;
  }

  .content-6 iframe {
    height: 250px;
  }

  /* Footer */
  .content-top,
  .content-middle {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }

  .content-top1 img {
    width: 150px;
  }

  .content-top1 p {
    font-size: 1em;
  }

  .content-top2 h1 {
    font-size: 1.3em;
  }

  .content-top2 p {
    font-size: 1em;
    line-height: 40px;
    padding-bottom: 0;
  }

  .content-top2 a {
    padding: 15px;
    font-size: 1em;
  }

  .content-top2 a:hover {
    border: 1px solid #ffffff;
    font-weight: normal;
  }

  .content-middle {
    gap: 10px;
  }

  .content-mid1 {
    padding-left: 0;
  }

  .content-mid1 h1 {
    padding-bottom: 20px;
    font-size: 1.3em;
  }

  .content-mid1 p {
    font-size: 1em;
  }

  .content-mid2 {
    padding-right: 0;
  }
  .content-mid2 img {
    margin-right: 0;
    width: 100px;
  }

  .content-bottom {
    padding: 20px;
    font-size: 0.7em;
  }
}
